@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500;700&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --black: #151515;
    --light_black: #1c1c1c;
    --black_gray: #222222;
    --gray: #6c6c6c;
    --light_gray: #7D7D7D;
    --fon: #1c1c1c;
    --red: #ad0032;
    --dark_red: #900029;
    --white: #ffffff;
}

body {background-color: var(--fon);}
ul, li {list-style-type: none;}
a{text-decoration: none;}

del {
    text-decoration: line-through;
    text-decoration-color: #AD0032;
}

.header {
    position: fixed;
    background: var(--light_black);
    z-index: 1;
    left: 0;
    width: 100%;
}

.header__nav {padding-top: 45px; padding-bottom: 25px;}

.header__nav-menu {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.header__nav-text {
    cursor: pointer;
    font-family: IBM Plex serif;
    font-weight: 500;
    line-height: 1.1;
    font-size: 20px;
    color: var(--white);
}

.header__nav-text:hover,
.header__nav-text::after {
    color: var(--red);
}

.header__nav-tittext {
    cursor: pointer;
    font-family: IBM Plex serif;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0.4;
    font-size: 30px;
    color: var(--white);
}

.header__nav-tittext:hover,
.header__nav-tittext::after {
    color: var(--red);
}

.header__nav-subtext {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    cursor: pointer;
    font-family: IBM Plex serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0;
    font-size: 7px;
    color: var(--red);
}

.booking {
    margin-right: 15px;
    margin-bottom: 15px;
    padding-top: 24px;
    cursor: pointer;
    position: fixed;
    text-align: center;
    z-index: 1000;
    border-radius: 10px;
    bottom: 0;
    right: 0;
    width: 84px;
    height: 64px;
    background-color: var(--red);
}

.booking:hover {
    background-color: var(--dark_red);
}

.booking__title {
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.1;
    font-size: 14px;
    color: var(--white);
}

.main {
    position: relative;
    margin-bottom: 75px;
}

.main__item {
    background-image: url(../img/BG.png);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 100px;
    height: 90vh;
}

.main__item-content {
    width: 100%;
	height: 100%;
}

.flex-col-c-m {
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.main__item-title {
    padding-bottom: 40px;
    font-family: IBM Plex serif;
    text-align: center;
    line-height: 1.1;
    font-size: 60px;
    width: 700px;
    color: var(--white);
}

.main__item-text {
    padding-bottom: 40px;
    font-family: Roboto;
    text-align: center;
    line-height: 1.1;
    font-size: 20px;
    width: 600px;
    color: var(--white);
}

.main__item-button {
    border-radius: 10px;
    border: none;
    padding: 16px 118px;
    background-color: var(--red);
    color: var(--white);
    font-family: Roboto;
    font-size: 20px;
}

.main__item-button:hover,
.main__item-button:active {
    background-color: var(--dark_red);
    color: var(--white);
}

.advantages {
    padding-bottom: 25px;
}

.advantages__text {
    padding: 45px 87px;
    border-radius: 10px;
    background: var(--black);
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
    line-height: 0;
    color: var(--white);
}

.stock {
    background-color: var(--black_gray); 
    border-radius: 10px;
    margin-top: 50px;
    padding-bottom: 100px;
}

.stock__title {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-family: IBM Plex serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 1.2;
    color: var(--white);
}

.stock__hr-red {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #AD0032;
    opacity: 1;
    height: 9px;
    width: 107px;
}

.stock__img {
    padding-top: 16px;
    padding-bottom: 90px;
}

.stock__block {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 30px;
}

.stock__block-title {
    padding-bottom: 30px;
    font-family: IBM Plex serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 1.3;
    color: var(--white);
}

.stock__block-text {
    padding-bottom: 50px;
    width: 550px;
    font-family: Roboto;
    line-height: 1.1;
    font-size: 24px;
    color: var(--light_gray);
}

.stock__info-button {
    margin-right: 22px;
    border-radius: 10px;
    border: none;
    padding: 16px 118px;
    background-color: var(--red);
    font-family: Roboto;
    font-size: 20px;
    color: var(--white);
}

.stock__info-button:hover,
.stock__info-button::after {
    background-color: var(--dark_red);
    color: var(--white);
}

.stock__info {
    display: flex;
    justify-content: center;
}

.stock__info-seil {
    display: flex;
    justify-content: center;
}

.stock__seil-del {
    margin-top: 30px;
    padding-right: 15px;
    font-family: IBM Plex serif;
    font-weight: 500;
    line-height: 0;
    font-size: 36px;
    color: var(--gray);
}

.stock__seil-active {
    margin-top: 30px;
    font-family: IBM Plex serif;
    font-weight: 500;
    line-height: 0;
    font-size: 36px;
    color: var(--white);
}

.price__title {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-family: IBM Plex serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 1.2;
    color: var(--white);
}

.price__hr-red {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--dark_red);
    opacity: 1;
    height: 9px;
    width: 107px;
}

.price__bg {
    background-color: var(--black); 
    margin: 0 117px;
    padding: 46px 0;
    border-radius: 10px;
    height: 500px;
}

.price__block-left {
    padding-left: 117px;
    float: left;
}

.price__left-text {
    font-family: Roboto;
    font-weight: 500;
    line-height: 2;
    font-size: 26px;
    color: var(--white);
}

.price__block-right {
    padding-right: 117px;
    float: right;
    text-align: right;
}

.price__right-text {
    font-family: IDM Plex serif;
    font-weight: 500;
    line-height: 2;
    font-size: 26px;
    color: var(--gray);
}

.work__title {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-family: IBM Plex serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 1.2;
    color: var(--white);
}


.work__hr-red {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--red);
    opacity: 1;
    height: 9px;
    width: 107px;
}

.slider {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 100px;
}

#wrapper {
    width: 100%;
    max-width: 1039px;
    position: relative;
}

#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#carousel::-webkit-scrollbar {height: 0;}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: #9e9e9e;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev {
    top: 50%;
    left: -175px;
    transform: translate(50%, -50%);
    display: none;
}

#next {
    top: 50%;
    right: -175px;
    transform: translate(-50%, -50%);
}

#content {
    display: grid;
    grid-gap: 43px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}

.item {
    width: 310px;
    height: 310px;
}

.contact__title {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    font-family: IBM Plex serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 1.2;
    color: var(--white);
}

.contact__hr-red {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--red);
    opacity: 1;
    height: 9px;
    width: 107px;
}

.contact__map {
    margin-bottom: 70px;
    border-radius: 10px;
}

.contact__info {
    display: flex;
    justify-content: start;
    gap: 100px;
}

.contact__address {
    font-family: IDM Plex serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--white);
}

.contact__tel {
    font-family: IDM Plex serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--white);
}

.contact__tel-white {
    color: var(--white);
}

.footer {
    background-color: var(--black); 
    margin-top: 120px; 
    padding: 61px 0;
}

.footer__logo {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: IBM Plex serif;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0.4;
    font-size: 30px;
    color: var(--white);
}

.footer__logo-white {
    color: var(--white);
}

.footer__logo-white:hover,
.footer__logo-white::after {
    color: var(--red);
}

.footer__logo:hover,
.footer__logo::after {
    color: var(--red);
}

.footer__logo-subtitle {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    cursor: pointer;
    font-family: IBM Plex serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0;
    font-size: 7px;
    color: var(--red);
}

.footer__menu {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    gap: 60px;
}

.footer__menu-title {
    margin: 0;
    cursor: pointer;
    font-family: IBM Plex serif;
    font-weight: 500;
    line-height: 1.1;
    font-size: 20px;
    color: var(--white);
}

.footer__menu-white {
    color: var(--white);
}

.footer__menu-white:hover,
.footer__menu-white::after {
    color: var(--red);
}

.footer__society {
    display: flex;
    justify-content: center;
    padding-top: 43px;
    gap: 22px;
}

@media (max-width:1280px) {
    .header__nav-menu {gap: 50px;}
    .main__item-title {
        font-size: 50px;
        width: 550px;
    }
    .main__item-text {
        font-size: 18px;
        width: 550px;
    }
    .main__item-button {
        padding: 14px 116px;
        font-size: 18px;
    }
    
    .advantages__text {
        padding: 40px 50px;
        font-size: 20px;
    }
    
    .stock {
        background-color: var(--black_gray); 
        border-radius: 10px;
        margin-top: 25px;
        padding-bottom: 75px;
    }
    .stock__title {
        padding-top: 40px;
        font-size: 40px;
    }
    .stock__hr-red {
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .stock__img {
        padding-top: 10px;
        padding-bottom: 90px;
    }
    .stock__block {
        gap: 40px;
        padding-top: 8px;
    }
    .stock__block-img {
        width: 450px;
    }
    .stock__block-title {
        padding-bottom: 30px;
        font-size: 35px;
    }
    .stock__block-text {
        padding-bottom: 50px;
        width: 400px;
        font-size: 22px;
    }
    .stock__info {display: block;}
    .stock__info-button {
        margin-right: 22px;
        padding: 14px 116px;
        font-size: 18px;
    }
    .stock__info-seil {
        padding-top: 15px;
        width: 340px;
    }
    .stock__seil-del {
        margin-top: 30px;
        padding-right: 15px;
        font-family: IBM Plex serif;
        font-weight: 500;
        line-height: 0;
        font-size: 36px;
        color: var(--gray);
    }
    .stock__seil-active {
        margin-top: 30px;
        font-family: IBM Plex serif;
        font-weight: 500;
        line-height: 0;
        font-size: 36px;
        color: var(--white);
    }

    .price__title {
        padding-top: 60px;
        font-size: 40px;
    }
    .price__hr-red {
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border: none;
        border-radius: 10px;
        background-color: var(--dark_red);
        opacity: 1;
        height: 9px;
        width: 107px;
    }
    .price__bg {
        background-color: var(--black); 
        margin: 0 117px;
        padding: 46px 0;
        border-radius: 10px;
        height: 500px;
    }
    .price__block-left {padding-left: 100px;}
    .price__left-text {font-size: 24px;}
    .price__block-right {padding-right: 100px;}
    .price__right-text {font-size: 24px;}
    
    .work__title {
        padding-top: 60px;
        font-size: 40px;
    }
    .slider {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    #wrapper {max-width: 972px;}
    #prev {left: -150px;}
    #next {right: -150px;}
    #content {grid-gap: 30px;}
    
    .contact__title {
        padding-top: 60px;
        font-size: 40px;
    }
    
    .contact__hr-red {margin-top: 17px;}
}

@media (max-width:1024px) {
    .slider {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    #wrapper {max-width: 720px;}
    #prev {left: -150px;}
    #next {right: -150px;}
    #content {grid-gap: 30px;}
    .item {
        width: 250px;
        height: 250px;
    }
}







